@import "../colors";

$box-1: linear-gradient(
  90deg,
  rgba(215, 80, 14, 1) 0%,
  rgba(214, 107, 55, 1) 53%
);
$box-2: linear-gradient(90deg, rgba(68, 43, 49, 1) 0%, rgba(59, 47, 50, 1) 53%);
$box-3: linear-gradient(90deg, rgba(68, 43, 49, 1) 0%, rgba(59, 47, 50, 1) 53%);

.card-properties {
  border-radius: 10px;
  transition: transform 1s linear;
  overflow: hidden;
  .card {
    &-text-wrap {
      padding-top: 40px;
      background: transparent;
      &-pitch {
        color: #fff;
        background: transparent;
        margin: 0;
        font-weight: 200;
        font-family: $dm-sans;
      }
      &-title {
        color: #fff !important;
        font-family: $roboto;
        font-weight: 800;
      }
    }
    &-image {
      transition: 1s ease;
      width: 100%;
    }
  }
}

#category {
  padding: 15px 0;
  .category-card {
    &-wrapper {
      border-radius: 10px;
      padding: 15px 0;
      height: 100%;
    }
    &-1 {
      background: $box-1;
      @extend .card-properties;
      .card-image {
        width: fit-content;
        padding: 50px;
      }
      &:hover .card-image {
        transform: scale(1.05);
      }
      &:hover {
        box-shadow: 0px 0px 10px rgba($color: #d66b37, $alpha: 0.5);
      }
    }
    &-2 {
      background: $box-2;
      @extend .card-properties;
      &:hover {
        box-shadow: 0px 0px 10px rgba($color: #30221b, $alpha: 0.5);
        &:hover .card-image {
          transform: scale(1.05);
        }
      }
    }
    &-3 {
      background: #60a5a6;
      @extend .card-properties;
      &:hover {
        box-shadow: 0px 0px 10px rgba($color: #d66b37, $alpha: 0.5);
        &:hover .card-image {
          transform: scale(1.05);
        }
      }
    }
    &-4 {
      background: linear-gradient(
        90deg,
        rgba(194, 118, 136, 1) 0%,
        rgba(209, 72, 107, 1) 53%
      );
      @extend .card-properties;
      position: relative;
      height: 30vh;
      z-index: 10;
      &:hover {
        box-shadow: 0px 0px 10px rgba($color: #d66b37, $alpha: 0.5);
      }
      &:hover .card-image {
        transform: scale(1.05);
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: url("https://res.cloudinary.com/magwatt/image/upload/c_scale,w_250/v1628155106/makeup-kits1_lxqgix.png")
          center center no-repeat;
        background-size: cover;
        z-index: -10;
      }
    }
    &-5 {
      background: #6b6969;
      @extend .card-properties;
      position: relative;
      height: 30vh;
      z-index: 11;
      &:hover {
        box-shadow: 0px 0px 10px rgba($color: #d66b37, $alpha: 0.5);
      }
      &::before {
        content: "";
        position: absolute;
        top: -20px;
        right: -30px;
        height: 100%;
        background: url("https://res.cloudinary.com/magwatt/image/upload/v1628169515/Untitled_design-removebg-preview_fpxjd0.png")
          no-repeat center center;

        width: 100%;
        z-index: -10;
      }
    }
    &-6 {
      background: #d66b37;
      height: 30vh;
      position: relative;
      @extend .card-properties;
      z-index: 0;
      &:hover {
        box-shadow: 0px 0px 10px rgba($color: #d66b37, $alpha: 0.5);
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -10;
        background: url("https://res.cloudinary.com/magwatt/image/upload/v1628168516/Fitness_gku6qb.png")
          no-repeat center center;
      }
    }
    &-9 {
      background: #d66b37;
      @extend .card-properties;

      &:hover {
        box-shadow: 0px 0px 10px rgba($color: #d66b37, $alpha: 0.5);
      }
    }
  }
  .aside {
    height: 100%;
    width: 100%;
    &-wrapper {
      height: 100%;
      width: 100%;
      .category-card {
        &-wrapper {
          width: 100%;
          height: 100%;
        }
        &-7 {
          background: linear-gradient(
            90deg,
            rgba(39, 166, 50, 1) 0%,
            rgba(115, 231, 136, 1) 64%
          );
          @extend .card-properties;
          &:hover .card-image {
            transform: scale(1.05);
          }
          width: 100%;
          height: 100%;
          &:hover {
            box-shadow: 0px 0px 10px rgba($color: #d66b37, $alpha: 0.5);
          }
        }
        &-8 {
          background: #6746ee;
          @extend .card-properties;
          &:hover .card-image {
            transform: scale(1.05);
          }
          &:hover {
            box-shadow: 0px 0px 10px rgba($color: #d66b37, $alpha: 0.5);
          }
        }
      }
    }
  }
}
