@import "./colors";

@mixin small() {
  @media only screen and (max-width: 993px) {
    @content;
  }
}

.flex-display {
  display: flex;
  text-align: start;
  justify-content: space-between;
  flex-direction: row;
  @include small() {
    flex-direction: column;
  }
}

.flex-display.sa {
  justify-content: space-around;
}
.flex-display.jcc {
  justify-content: center;
  align-items: center;
}

.flex-display.center {
  align-items: center;
}
.flex-display.reverse {
  flex-direction: row-reverse;
}
.direction-col {
  flex-direction: column;
  justify-content: center;
}

.section-padding {
  padding: 50px 0;
}

.full-width {
  max-width: 100vw !important;
}

.bg-primary {
  background: $primary-color !important;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}

section {
  background: #fff;
  border-radius: 10px;
  padding: 10px 0;
  .section-heading {
    padding: 20px 0;
    padding-left: 30px;
  }
}

.btn-primary {
  background: $primary-color !important;
  padding: 10px 10px;
  border-radius: 25px;
}
