* {
  padding: 0;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
}

@import "colors";
@import "utils";

h3 {
  font-family: $roboto;
  margin: 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  font-family: $roboto;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  font-family: $roboto;
}

p {
  font-family: $dm-sans;
}

.rating span {
  margin: 0.1rem;
}

@media (max-width: 900px) {
  #OrderNumber {
    font-size: 20px;
  }
}

#main,
#footer,
#features {
  .body.container {
    max-width: 95vw !important;
  }
  .landing {
    max-width: 95vw !important;
  }
}

//======================Product Card========================

.container#list-pages {
  max-width: 90vw;
  height: 100vh;
}

.container.full-height {
  height: 100vh;
}
